.card {
  border: 1px solid lightslategray;
  border-radius: 8px;
  padding: 16px;
  transition: background-color 0.4s ease;
}

.card h2, .card p {
  margin: 0;
}

.card:hover {
  background-color: #141414;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  .card:hover {
    background-color: #f4f4f4;
  }
}
